.header {
    height: 30vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    display: block;
}
.carousel {
    position: relative;
    height: 263px;
}

.carousel .slick-next:before, .carousel .slick-prev:before {
    color: black;
}

.drinkPic {
    height: 260px;
    width:auto;
}
#title {
    display: block;
    color: #fff0ff;
}
#carouselContainer {
    display: block;
    width: 80vw;
    height: 263px;
    margin: 20px auto 30px auto;
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-slider{
    height: 263px;
}