.search{
    text-align: center;
}
body {
    background-color: honeydew;
}

#headerBlock{
    display: flex;
    flex-direction: column;
}

#searchBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#drinkBlock {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}