#selectorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#selectorButton {
    width: 155.67px;
    height: 56px;
    margin: 8px;
    background-color: #aae6aa;
}